*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.flex{
  display: flex;
}

.hide {
  display: none;
}
/* container_nav */
.container_nav{
  width: 100%;
  justify-content: space-between;
  background-color: #000;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


/* logo */
.logo span {
  color: #920000;
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}
/* /logo */
.nav_search {
  margin-right: 20px;
}

/* bottone */

#btn {

  background-color: blue;
  color: #fff;
  text-decoration: none;
  padding: 3px;
  border-radius: 10px;
  font-size: 12px;
}
/* /bottone */
/*/ container_nav */

/* container_list */
.container_list {
  height: calc(100vh - 70px);
  background-color: #434343;
  margin-top: 70px;
  overflow-y: scroll;
}

/* row_film */
.lista_film{
  justify-content: space-around;
  flex-wrap: wrap;
}

.select {
  width: calc(100% / 4);

}

/* immagini */
 .container_poster{
  text-align: center;
 }

 .wrapper_info {
  width:100%;

 }

 .container_info {
   background-color: #000;
   border: 3px #fff solid;
   color: #fff;
   padding: 15px;
   height: 350px;
   width: 300px;
   margin: auto;
 }

 .container_info p {
   white-space: normal;
 }



.select .poster {
  height: 350px;
  width: 300px;
}
/* /immagini */

.select {
  margin: 15px 0;
}

/* elenco stelle voto nel template */
.list_star li {
  display: inline-block;

}

.list_star li i {
 color: yellow;
}
/* elenco sstelle voto nel template */

/* bandiere */
.lingua {
  width: 15px;
}
/* 7 bandiere */

/*  hover img */



.poster:hover + .container_info{
  display: block;
}

.poster:hover {
  display: none;
}
