*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#btn {

  background-color: blue;
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

.list_star li {
  display: inline-block;

}

.list_star li i {
 color: yellow;
}

.yellow {
  color: yellow;
}
